<div class="site-heading">
    <!-- <h2>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h2> -->
    <h2>{{ page.description }}</h2>
	<hr class="small">
    <span class="subheading">
    	<a class="awesome-icon" href="https://ca.linkedin.com/in/giorgiodelgado"><i class="fa fa-linkedin fa-2x"></i></a>
    	<a class="awesome-icon" href="https://github.com/gDelgado14"><i class="fa fa-github-alt fa-2x"></i></a>
    	<a class="awesome-icon" href="{{ site.baseurl }}/portfolio/"><i class="fa fa-folder-open-o fa-2x"></i></a>
    </span>
</div>