---
layout: default
---

<!-- Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-10 col-md-10 col-md-offset-1">
				{% if page.title == "Giorgio Delgado" %}
					{% include main-header-content.html %}
				{% else %}
					{% include post-header-content.html %}
				{% endif %}
			</div>
		</div>
	</div>
</header>

<!-- Main Content -->
<main>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 col-md-10 col-md-offset-1 blog-post">
				{{ content }}
			</div>
		</div>
	</div>
</main>

<hr>



{% if page.title == 'Giorgio Delgado' %}

	<div class="container">
		<div class="row">
			<div class="pagination col-lg-11 col-md-11 col-sm-11 col-xs-11">
			  {% if paginator.next_page %}
			    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
			  {% else %}
			    <span class="pagination-item older">Older</span>
			  {% endif %}
			  {% if paginator.previous_page %}
			    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
			  {% else %}
			    <span class="pagination-item newer">Newer</span>
			  {% endif %}
			</div>
		</div>
	</div>
{% endif %}
